@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
.green-style {
  background-color: #55a630;
  color: #fff;
}
.green-style:hover {
  background-color: #b7ecb1;
}
.green-style:active {
  color: #55a630;
}

.purpure-style {
  background-color: #4340b4;
  color: #fff;
}
.purpure-style:hover {
  background-color: rgba(67, 64, 180, 0.7);
}
.purpure-style:active {
  color: #4340b4;
}

.green-blue-style {
  background-color: #00a896;
  color: #fff;
}
.green-blue-style:hover {
  background-color: rgba(0, 168, 150, 0.65);
}
.green-blue-style:active {
  color: #00a896;
}

.light-green-style {
  background-color: #ecf9eb;
  color: #55a630;
}
.light-green-style:hover {
  background-color: #b7ecb1;
  color: #fff;
}
.light-green-style:active {
  color: #55a630;
}

.light-purpure-style {
  background-color: rgba(83, 81, 196, 0.1);
  color: #4340b4;
}
.light-purpure-style:hover {
  background-color: rgba(67, 64, 180, 0.7);
  color: #fff;
}
.light-purpure-style:active {
  color: #4340b4;
}

.light-green-blue-style {
  background-color: rgba(0, 168, 150, 0.1);
  color: #00a896;
}
.light-green-blue-style:hover {
  background-color: rgba(0, 168, 150, 0.65);
  color: #fff;
}
.light-green-blue-style:active {
  color: #00a896;
}

.spots {
  width: 139px;
  height: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.spots div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #b7ecb1;
  cursor: pointer;
}
.spots div:hover {
  background-color: #00a896;
}
.spots div:active {
  background-color: #55a630;
}
div .spots_active {
  background-color: #55a630;
}

.nav {
  background-color: #fff;
  font-weight: 500;
}
.nav-icons {
  width: 29px;
  height: 29px;
}
.nav a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.nav a:hover {
  color: #b7ecb1;
}
.nav a:active {
  color: #55a630;
}

.nav-up {
  width: 83.33%;
  max-width: 1200px;
  min-height: 84px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  border-bottom: 1px solid rgba(85, 166, 48, 0.5);
}
.nav-up_contacts {
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-up_phone:hover {
  transform: scale(1.05);
}
.nav-up_phone img {
  width: 28px;
  height: 28px;
}
.nav-up_phone span {
  margin-left: 22px;
  font-size: 25px;
  min-width: 218px;
}
.nav-up_socials {
  min-width: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}
.nav-up_socials img {
  width: 28px;
  height: 28px;
}
.nav-up_socials img:hover {
  transform: scale(1.1);
}

.link-logo img:hover {
  transform: scale(1.05);
}
.link-logo_container {
  margin-top: 12px;
  width: 55%;
}

.nav-down {
  width: 83.33%;
  max-width: 1200px;
  min-height: 68px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-tablet {
  display: none;
}

@media (max-width: 1000px) {
  .nav {
    display: none;
  }
  .nav-tablet {
    min-height: 94px;
    display: flex;
  }
  .nav-tablet_menu {
    margin: 35px 39% 35px 23px;
  }
  .nav-tablet button {
    border: none;
    background: none;
  }
  .nav-tablet a {
    text-decoration: none;
    color: #303236;
  }
  .nav-tablet_logo {
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: auto;
  }
  .nav-tablet_phone {
    margin: 33px 21px 33px 0;
  }
  .nav-tablet_phone img {
    width: 28px;
    height: 28px;
  }
  .nav-tablet_phone span {
    margin-left: 19px;
    font-weight: 500;
    font-size: 20px;
    min-width: 26px;
  }
}
.main-section {
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/main-photo.png);
  background-repeat: no-repeat;
  background-position: right 6.86% bottom;
  background-size: auto auto;
  background-color: #ecffeb;
  min-height: 584px;
  margin: 0 auto;
  position: relative;
}
.main-section_container {
  width: 83.33%;
  max-width: 1200px;
  margin: 0 auto;
}
.main-section_description {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  max-width: 420px;
  margin-bottom: 57px;
}
.main-section_short_description {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  padding-top: 70px;
}
.main-section_btn {
  width: 285px;
  height: 66px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  background-color: none;
  border: none;
  cursor: pointer;
}
.main-section_btn_left {
  background-color: #55a630;
  color: #fff;
  margin-right: 20px;
}
.main-section_btn_left:hover {
  background-color: #b7ecb1;
}
.main-section_btn_left:active {
  color: #55a630;
}
.main-section_btn_right {
  color: #55a630;
  border: 1px solid #55a630;
  background: none;
}
.main-section_btn_right:hover {
  background-color: #b7ecb1;
  border-color: #b7ecb1;
  color: #fff;
}
.main-section_btn_right:active {
  color: #55a630;
}

h1 {
  font-size: 65px;
  line-height: 65px;
  color: #55a630;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.achievements {
  width: 83.33%;
  max-width: 1200px;
  min-height: 212px;
  display: flex;
  background-color: #fff;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  bottom: -160px;
  box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
  z-index: 1;
}
.achievements span {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #55a630;
}
.achievements p {
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
}

@media (max-width: 1000px) {
  .main-section {
    min-height: 489px;
    background-position: right bottom;
    background-size: 527px 430px;
  }
  .main-section_container {
    width: 93%;
    padding-top: 75px;
  }
  .main-section_short_description {
    display: none;
  }
  .main-section_description {
    line-height: 22px;
    margin-bottom: 44px;
  }
  .main-section_btn {
    width: 247px;
    height: 55px;
  }
  .main-section_btn_left {
    margin-right: 26px;
  }
  .achievements {
    max-width: 854px;
    min-height: 167px;
  }
  .achievements span {
    font-size: 40px;
  }
  .achievements p {
    font-size: 20px;
    line-height: 21px;
  }
}
.courses {
  background-color: #fff;
  background-image: url(../img/courses_bgr.png);
  background-repeat: no-repeat;
  background-position: right 0vw top;
  position: relative;
  margin-bottom: 175px;
}
.courses-title {
  font-size: 35px;
  line-height: 28px;
  font-weight: 600;
  padding-top: 363px;
  margin-bottom: 77px;
  text-align: center;
}
.courses_left-arrow {
  width: 16px;
  height: 24px;
  position: absolute;
  top: 750px;
  left: 75px;
  cursor: pointer;
}
.courses_left-arrow:hover {
  transform: scale(1.2);
}
.courses_right-arrow {
  width: 16px;
  height: 24px;
  position: absolute;
  top: 750px;
  right: 75px;
  cursor: pointer;
}
.courses_right-arrow:hover {
  transform: scale(1.2);
}
.courses-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 5%;
  margin: 0 auto;
  margin-bottom: 75px;
}
.courses_card {
  width: 30%;
  box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
  position: relative;
  background-color: #fff;
}
.courses_card_bird {
  position: absolute;
  right: 23px;
  top: 13px;
}
.courses_card_wrapper {
  margin-left: 16px;
  padding-top: 16px;
  width: 100%;
}
.courses_card_description {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 14px;
}
.courses_card_title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 22px;
}
.courses_card_format {
  width: 166px;
  height: 39px;
  font-weight: 600;
  font-size: 20px;
  line-height: 39px;
  color: #fff;
  text-align: center;
  margin-bottom: 23px;
  border-radius: 9px;
}
.courses_card_date {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 45px;
}
.courses_card_about {
  width: 175px;
  height: 110px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 12px;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 60px;
  padding-left: 10px;
}
.courses_card_free {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 21px;
}
.courses_card_img {
  width: 135px;
  height: 159px;
  position: absolute;
  top: 213px;
  right: 16px;
}
.courses_card_btn {
  width: 100%;
  height: 56px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.about {
  background-color: #fff;
  width: 83.33vw;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 177px;
}
.about_img-container {
  margin-right: 10.08%;
  width: 40.97vw;
}
.about_img-container img {
  width: 100%;
}
.about p, .about_link {
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
}
.about-about {
  color: #858585;
  margin-bottom: 30px;
}
.about h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 37px;
  margin-bottom: 75px;
}
.about h3 span {
  color: #55a630;
}
.about-description {
  margin-bottom: 60px;
}
.about_link {
  width: 265px;
  margin-left: 226px;
}
.about a {
  cursor: pointer;
  color: #55a630;
  text-decoration: none;
}
.about a:hover {
  color: #b7ecb1;
}
.about a:active {
  color: #00a896;
}
.about a span {
  margin-right: 48px;
}
.about a img {
  width: 58px;
}

@media (max-width: 1160px) {
  .about_link {
    margin-left: 160px;
  }
}
.learn {
  margin-bottom: 175px;
}
.learn h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 76px;
}
.learn a {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #fff;
  text-decoration: none;
}
.learn a:hover {
  color: #b7ecb1;
}
.learn a:active {
  color: #55a630;
}
.learn p {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-left: 23px;
}
.learn_top-block {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin: 0 auto;
  width: 83.33%;
  max-width: 1200px;
  margin-bottom: 55px;
}
.learn_top-block > div {
  width: 570px;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(35, 35, 35), 0.5;
}
.learn_top-block > div:first-child {
  background-image: url(../img/learn/courses-block-bgr.png);
  position: relative;
}
.learn_top-block > div:first-child div:first-child {
  margin: 35px 46px 61px 28px;
}
.learn_top-block > div:first-child div:nth-child(3) {
  width: 65px;
  height: 66px;
  position: absolute;
  bottom: 3px;
  right: 127px;
}
.learn_top-block > div:first-child div:nth-child(4) {
  width: 84px;
  height: 0px;
  position: absolute;
  bottom: 180px;
  right: 85px;
}
.learn_top-block > div:nth-child(2) {
  background-image: url(../img/learn/online-block-bgr.png);
}
.learn_top-block > div:nth-child(2) div {
  margin-top: 193px;
  margin-left: 25px;
}
.learn_bottom-block {
  display: flex;
  justify-content: space-between;
  gap: 54px;
  margin: 0 auto;
  width: 83.33%;
  max-width: 1200px;
  margin-bottom: 175px;
}
.learn_bottom-block > div {
  width: 364px;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(35, 35, 35), 0.5;
}
.learn_bottom-block > div:first-child {
  background-image: url(../img/learn/master-class-block-bgr.png);
}
.learn_bottom-block > div:first-child div {
  margin-top: 197px;
  margin-left: 28px;
}
.learn_bottom-block > div:nth-child(2) {
  background-image: url(../img/learn/shedule-block-bgr.png);
}
.learn_bottom-block > div:nth-child(2) div {
  margin-top: 22px;
  margin-left: 28px;
}
.learn_bottom-block > div:nth-child(3) {
  background-image: url(../img/learn/promo-block-bgr.png);
}
.learn_bottom-block > div:nth-child(3) div {
  margin-top: 201px;
  margin-left: 28px;
}

@media (max-width: 1175px) {
  .learn a {
    font-size: 25px;
  }
}
.models-search {
  width: 83.33%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 177px;
}
.models-search h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #55a630;
  margin-bottom: 75px;
  text-transform: uppercase;
}
.models-search p {
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  margin-bottom: 70px;
}
.models-search button {
  width: 385px;
  height: 75px;
  background-color: #55a630;
  color: #fff;
  font-weight: 600;
  font-size: 23px;
  line-height: 26px;
  border: none;
  cursor: pointer;
}
.models-search button:hover {
  background-color: #b7ecb1;
}
.models-search button:active {
  color: #55a630;
}
.models-search_text-container {
  width: 43.68vw;
  margin-right: 74px;
}
.models-search_img-container {
  width: 34.58vw;
}
.models-search_img-container img {
  width: 100%;
}

.master-class {
  position: relative;
  margin-bottom: 173px;
}
.master-class h2 {
  font-size: 35px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}
.master-class > p {
  font-size: 25px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 75px;
  text-align: center;
}
.master-class_left-arrow {
  width: 16px;
  height: 24px;
  position: absolute;
  top: 375px;
  left: 75px;
  cursor: pointer;
}
.master-class_left-arrow:hover {
  transform: scale(1.2);
}
.master-class_right-arrow {
  width: 16px;
  height: 24px;
  position: absolute;
  top: 375px;
  right: 75px;
  cursor: pointer;
}
.master-class_right-arrow:hover {
  transform: scale(1.2);
}
.master-class_cards-container {
  width: 83.33%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}
.master-class_cards-container > div {
  width: 43.33%;
  box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
}
.master-class_cards-container img {
  width: 100%;
}
.master-class_cards-description {
  display: flex;
}
.master-class_cards-description div:first-child {
  width: 70.58%;
  padding-left: 5.48%;
  padding-top: 15px;
  position: relative;
}
.master-class_cards-description div:nth-child(2) {
  width: 29.42%;
  display: flex;
  flex-direction: column;
}
.master-class_cards-description div:nth-child(2) p {
  min-height: 132px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 132px;
  background-color: #ecf9eb;
}
.master-class_cards-description div:nth-child(2) button {
  min-height: 98px;
  background-color: #55a630;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.master-class_cards-description div:nth-child(2) button:hover {
  background-color: #b7ecb1;
}
.master-class_cards-description div:nth-child(2) button img {
  width: 25px;
  margin: auto;
}
.master-class_arrow-bold {
  position: absolute;
  bottom: 14px;
  right: -18.53%;
  width: 122px;
  height: 108px;
}
.master-class_arrow-thin {
  position: absolute;
  right: 13.08%;
  bottom: 13px;
  width: 24px;
  height: 24px;
}
.master-class_cards-date {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
.master-class_cards-description {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.master-class_cards-couch {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.why-us {
  margin-bottom: 166px;
}
.why-us h2 {
  font-size: 35px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 75px;
  text-align: center;
}
.why-us h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 26px;
  margin-bottom: 32px;
}
.why-us p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}
.why-us_card-container {
  width: 83.33%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 2.42%;
}
.why-us_card-container div {
  position: relative;
  width: 31.67%;
  box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
}
.why-us_card-container div span {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 180px;
  line-height: 36px;
  position: absolute;
}
.why-us_card-container div:nth-child(1) {
  padding: 40px 15px 12px 31px;
}
.why-us_card-container div:nth-child(1) span {
  color: rgba(85, 166, 48, 0.25);
  bottom: 68px;
  right: 26px;
}
.why-us_card-container div:nth-child(2) {
  padding: 40px 21px 70px 31px;
  background-color: #b7ecb1;
}
.why-us_card-container div:nth-child(2) span {
  color: rgba(255, 255, 255, 0.3);
  top: 50px;
  right: 25px;
}
.why-us_card-container div:nth-child(3) {
  padding: 28px 18px 28px 32px;
}
.why-us_card-container div:nth-child(3) h4 {
  margin-bottom: 14px;
}
.why-us_card-container div:nth-child(3) span {
  color: rgba(85, 166, 48, 0.25);
  bottom: 95px;
  right: 18px;
}

.special {
  margin-bottom: 175px;
  position: relative;
}
.special h2 {
  font-size: 35px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 75px;
  text-align: center;
}
.special_card-container {
  width: 83.33%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 75px;
  gap: 2.5%;
}
.special_card-container div {
  width: 31.67%;
}
.special_card-container div img {
  width: 100%;
}
.special_left-arrow {
  width: 16px;
  height: 24px;
  position: absolute;
  top: 285px;
  left: 75px;
  cursor: pointer;
}
.special_left-arrow:hover {
  transform: scale(1.2);
}
.special_right-arrow {
  width: 16px;
  height: 24px;
  position: absolute;
  top: 285px;
  right: 75px;
  cursor: pointer;
}
.special_right-arrow:hover {
  transform: scale(1.2);
}

.form {
  width: 83.33%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 175px;
  box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
  min-height: 526px;
}
.form > div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  color: #55a630;
  padding-top: 75px;
  margin-bottom: 20px;
}
.form p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 60px;
}
.form form {
  width: 427px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.form form input:nth-child(1) {
  height: 60px;
  padding-left: 34px;
  margin-bottom: 15px;
  border: 1px solid #55a630;
}
.form form input:nth-child(2) {
  height: 60px;
  padding-left: 34px;
  margin-bottom: 31px;
  border: 1px solid #55a630;
}
.form form input:nth-child(3) {
  height: 71px;
  background-color: #55a630;
  color: #fff;
  border: none;
  font-weight: 600;
  font-size: 23px;
  line-height: 16px;
  cursor: pointer;
}
.form form input:nth-child(3):hover {
  background-color: #b7ecb1;
}
.form form input:nth-child(3):active {
  color: #55a630;
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}
.footer_map {
  width: 52.5%;
}
.footer_info {
  width: 47.5%;
  padding-left: 69px;
  display: flex;
  flex-direction: column;
  background-color: #424242;
  color: #fff;
}
.footer_info a {
  color: #fff;
  text-decoration: none;
}
.footer_info a:hover {
  color: #b7ecb1;
}
.footer_info a:active {
  color: #55a630;
}
.footer_contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 84px;
}
.footer_contacts a {
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
}
.footer_contacts a:first-child {
  padding-top: 37px;
  margin-bottom: 50px;
}
.footer_contacts a:nth-child(2) {
  margin-bottom: 25px;
}
.footer_contacts a:nth-child(3) {
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
}
.footer_contacts img {
  width: 98px;
  height: 98px;
}
.footer_contacts img:hover {
  transform: scale(1.1);
}
.footer-links {
  display: flex;
  margin-bottom: 85px;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
}
.footer-links_left-block {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-right: 95px;
}
.footer-links_right-block {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-links_socials {
  display: flex;
  gap: 39px;
  margin-bottom: 48px;
}
.footer-links_socials img {
  width: 39px;
  height: 39px;
}
.footer-links_socials img:hover {
  transform: scale(1.1);
}
.footer-links_confidential {
  width: -moz-max-content;
  width: max-content;
  height: 22px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;
  text-align: start;
  background: none;
  border: none;
  color: #fff;
}
.footer-links_confidential:hover {
  color: #b7ecb1;
}
.footer-links_confidential:active {
  color: #55a630;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #424242;
}/*# sourceMappingURL=main.css.map */