@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
.green-style {
  background-color: #55a630;
  color: #fff;
}

.purpure-style {
  background-color: #4340b4;
  color: #fff;
}

.green-blue-style {
  background-color: #00a896;
  color: #fff;
}

.light-green-style {
  background-color: #ecf9eb;
  color: #55a630;
}

.light-purpure-style {
  background-color: rgba(83, 81, 196, 0.1);
  color: #4340b4;
}

.light-green-blue-style {
  background-color: rgba(0, 168, 150, 0.1);
  color: #00a896;
}

.nav {
  background-color: #fff;
  font-weight: 500;
}
.nav-icons {
  width: 29px;
  height: 29px;
}
.nav a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.nav-up {
  width: 83.33%;
  min-height: 84px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  border-bottom: 1px solid rgba(85, 166, 48, 0.5);
}
.nav-up_contacts {
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-up_phone img {
  width: 28px;
  height: 28px;
}
.nav-up_phone span {
  margin-left: 22px;
  font-size: 25px;
  min-width: 218px;
}
.nav-up_socials {
  min-width: 83px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}
.nav-up_socials img {
  width: 28px;
  height: 28px;
}

.link-logo_container {
  margin-top: 12px;
  width: 55%;
}

.nav-down {
  width: 83.33%;
  min-height: 68px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section {
  background: url(../img/main-photo.png) no-repeat 680px 0px #ecffeb;
  font-family: "Montserrat", sans-serif;
  background-size: auto auto;
  min-height: 584px;
  position: relative;
}
.main-section_container {
  margin-left: 8.33%;
}
.main-section_description {
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  max-width: 420px;
  margin-bottom: 57px;
}
.main-section_short_description {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  padding-top: 70px;
}
.main-section_btn {
  width: 285px;
  height: 66px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  background-color: none;
  border: none;
  cursor: pointer;
}
.main-section_btn_left {
  background-color: #55a630;
  color: #fff;
  margin-right: 20px;
}
.main-section_btn_right {
  color: #55a630;
  border: 1px solid #55a630;
  background: none;
}

h1 {
  font-size: 65px;
  line-height: 65px;
  color: #55a630;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.achievements {
  width: 83.33%;
  min-height: 212px;
  display: flex;
  background-color: #fff;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 8.33%;
  bottom: -160px;
  box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
  z-index: 1;
}
.achievements span {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #55a630;
}
.achievements p {
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
}

.courses {
  background-color: #fff;
  background-image: url(../img/courses_bgr.png);
  background-repeat: no-repeat;
  background-position: right 0vw top;
  position: relative;
  margin-bottom: 175px;
}
.courses-title {
  font-size: 35px;
  line-height: 28px;
  font-weight: 600;
  padding-top: 363px;
  margin-bottom: 77px;
  text-align: center;
}
.courses_left-arrow {
  width: 16px;
  height: 24px;
  position: absolute;
  top: 750px;
  left: 75px;
  cursor: pointer;
}
.courses_right-arrow {
  width: 16px;
  height: 24px;
  position: absolute;
  top: 750px;
  right: 75px;
  cursor: pointer;
}
.courses-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 5%;
  margin: 0 auto;
  margin-bottom: 75px;
}
.courses_card {
  width: 30%;
  box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
  position: relative;
  background-color: #fff;
}
.courses_card_bird {
  position: absolute;
  right: 23px;
  top: 13px;
}
.courses_card_wrapper {
  margin-left: 16px;
  padding-top: 16px;
}
.courses_card_description {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 14px;
}
.courses_card_title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 22px;
}
.courses_card_format {
  width: 166px;
  height: 39px;
  font-weight: 600;
  font-size: 20px;
  line-height: 39px;
  color: #fff;
  text-align: center;
  margin-bottom: 23px;
  border-radius: 9px;
}
.courses_card_date {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 45px;
}
.courses_card_about {
  width: 175px;
  height: 110px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 12px;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 60px;
  padding-left: 10px;
}
.courses_card_free {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 21px;
}
.courses_card_img {
  width: 135px;
  height: 159px;
  position: absolute;
  top: 213px;
  right: 16px;
}
.courses_card_btn {
  width: 100%;
  height: 56px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.courses_spots {
  width: 139px;
  height: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.courses_spots div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #b7ecb1;
  cursor: pointer;
}
div .courses_spots_active {
  background-color: #55a630;
}

.about {
  background-color: #fff;
  width: 83.33vw;
  margin: 0 auto;
  display: flex;
  margin-bottom: 177px;
}
.about_img-container {
  margin-right: 10.08%;
}
.about_img-container img {
  width: 40.97vw;
  height: 666px;
}
.about p, .about_link {
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;
}
.about-about {
  color: #858585;
  margin-bottom: 30px;
}
.about h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 37px;
  margin-bottom: 75px;
}
.about h3 span {
  color: #55a630;
}
.about-description {
  margin-bottom: 60px;
}
.about_link {
  width: 265px;
  margin-left: 226px;
}
.about a {
  cursor: pointer;
  color: #55a630;
  text-decoration: none;
}
.about a span {
  margin-right: 48px;
}
.about a img {
  width: 58px;
}

@media (max-width: 1160px) {
  .about_link {
    margin-left: 160px;
  }
}
.learn {
  margin-bottom: 175px;
}
.learn h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 76px;
}
.learn a {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #fff;
  text-decoration: none;
}
.learn p {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  margin-left: 23px;
}
.learn_top-block {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin: 0 auto;
  width: 83.33%;
  margin-bottom: 55px;
}
.learn_top-block > div {
  width: 570px;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(35, 35, 35), 0.5;
}
.learn_top-block > div:first-child {
  background-image: url(../img/learn/courses-block-bgr.png);
  position: relative;
}
.learn_top-block > div:first-child div:first-child {
  margin: 35px 46px 61px 28px;
}
.learn_top-block > div:first-child div:nth-child(3) {
  width: 65px;
  height: 66px;
  position: absolute;
  bottom: 3px;
  right: 127px;
}
.learn_top-block > div:first-child div:nth-child(4) {
  width: 84px;
  height: 0px;
  position: absolute;
  bottom: 180px;
  right: 85px;
}
.learn_top-block > div:nth-child(2) {
  background-image: url(../img/learn/online-block-bgr.png);
}
.learn_top-block > div:nth-child(2) div {
  margin-top: 193px;
  margin-left: 25px;
}
.learn_bottom-block {
  display: flex;
  justify-content: space-between;
  gap: 54px;
  margin: 0 auto;
  width: 83.33%;
  margin-bottom: 175px;
}
.learn_bottom-block > div {
  width: 364px;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(35, 35, 35), 0.5;
}
.learn_bottom-block > div:first-child {
  background-image: url(../img/learn/master-class-block-bgr.png);
}
.learn_bottom-block > div:first-child div {
  margin-top: 197px;
  margin-left: 28px;
}
.learn_bottom-block > div:nth-child(2) {
  background-image: url(../img/learn/shedule-block-bgr.png);
}
.learn_bottom-block > div:nth-child(2) div {
  margin-top: 22px;
  margin-left: 28px;
}
.learn_bottom-block > div:nth-child(3) {
  background-image: url(../img/learn/promo-block-bgr.png);
}
.learn_bottom-block > div:nth-child(3) div {
  margin-top: 201px;
  margin-left: 28px;
}

@media (max-width: 1175px) {
  .learn a {
    font-size: 25px;
  }
}
.models-search {
  width: 83.33%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 177px;
}
.models-search h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #55a630;
  margin-bottom: 75px;
  text-transform: uppercase;
}
.models-search p {
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  margin-bottom: 70px;
}
.models-search button {
  width: 385px;
  height: 75px;
  background-color: #55a630;
  color: #fff;
  font-weight: 600;
  font-size: 23px;
  line-height: 26px;
  border: none;
  cursor: pointer;
}
.models-search img {
  width: 34.58vw;
  height: 459px;
}
.models-search_text-container {
  width: 43.68vw;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #424242;
}/*# sourceMappingURL=main.css.map */