.about {
    background-color: #fff;
    width: 83.33vw;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 177px;

    &_img-container {
        width: 41vw;
        max-width: 590px;
        height: 666px;
        margin-right: 4vw;
        img {
            width: 100%;
        }
    }
    &_text {
        margin-left: auto;
    }
    p, &_link {
        font-weight: 500;
        font-size: 25px;
        line-height: 28px;
    }
    &-about {
        color: #858585;
        margin-bottom: 30px;
    }
    h3 {
        max-width: 452px;
        font-weight: 700;
        font-size: 35px;
        line-height: 37px;
        margin-bottom: 75px;
        span {
            color: $green;
        }
    }
    &-description {
        max-width: 452px;
        margin-bottom: 60px;
    }
    &_link {
        width: 265px;
        float: right;
    }
    a {
        cursor: pointer;
        color: $green;
        text-decoration: none;
        &:hover {
            color: #b7ecb1;
        }
        &:active {
            color: #00a896;
        }
        span {
            margin-right: 48px;
        }
        img {
            width: 58px;
        }
    }
}

// Промежуточный адаптив (1440px - 1000px)

@media (max-width: 1300px) {
    .about {
        h3, &-description {
            margin-bottom: 40px;
        }
        &_text {
            letter-spacing: -1px;
        }
    }
}

@media (max-width: 1160px) {
    .about {
        h3 {
            margin-bottom: 25px;
        }
        &-description {
            margin-bottom: 30px;
        }
        &-about {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1100px) {
    .about {
        img {
            height: 85%;
        }
    }
}

// ---------------------------------------

@media (max-width: 1000px) {
    .about {
        width: 100%;
        max-width: 960px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 140px;
        &_img-container {
            width: 383px;
            height: 533px;
            margin-right: 11vw;
            img {
                width: 383px;
                height: 533px;
            }
        }
        p, &_link {
            font-size: 20px;
        }
        p:nth-child(3) {
            font-size: 20px;
            line-height: 25px;
            max-width: 467px;
        }
        h3 {
            max-width: 459px;
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 40px;
        }
        &_link {
            float: right;
        }
    }
}