.main-section {
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/main-photo.png);
  background-repeat: no-repeat;
  background-position: right 6.86% bottom;
  background-size: auto auto;
  background-color: #ecffeb;
  min-height: 584px;
  margin: 0 auto;
  position: relative;

  &_container {
    width: 83.33%;
    max-width: 1200px;
    margin: 0 auto;
  }
  &_description {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    max-width: 420px;
    margin-bottom: 57px;
  }
  &_short_description {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    padding-top: 70px;
  }
  &_btn {
    width: 285px;
    height: 66px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    background-color: none;
    border: none;
    cursor: pointer;
    &_left {
        background-color: $green;
        color: #fff;
        margin-right: 20px;
        &:hover {
          background-color: #b7ecb1;
        }
        &:active {
          color:#55a630;
        }
    }
    &_right {
        color: $green;
        border: 1px solid $green;
        background: none;
        &:hover {
          background-color: #b7ecb1;
          border-color: #b7ecb1;
          color: #fff;
        }
        &:active {
          color:#55a630;
        }
    }
  }
}

h1 {
  font-size: 65px;
  line-height: 65px;
  color: #55a630;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.achievements {
  width: 83.33%;
  max-width: 1200px;
  min-height: 212px;
  display: flex;
  background-color: #fff;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  bottom: -160px;
  box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
  z-index: 1;

  span {
      font-weight: 700;
      font-size: 45px;
      line-height: 45px;
      color: $green;
  }
  p {
      font-weight: 400;
      font-size: 23px;
      line-height: 28px;
  }
}


@media (max-width: 1000px) {
  .main-section {
    max-width: 1000px;
    min-height: 489px;
    background-position: right bottom;
    background-size: 527px 430px;
    margin-top: 94px;
    &_container {
      width: 93%;
      padding-top: 75px;
    }
    &_short_description {
      display: none;
    }
    &_description {
      line-height: 22px;
      margin-bottom: 44px;
    }
    &_btn {
      width: 247px;
      height: 55px;
      &_left {
        margin-right: 26px;
      }
    }
  }
  .achievements {
    max-width: 854px;
    min-height: 167px;
    span {
      font-size: 40px;
    }
    p {
      font-size: 20px;
      line-height: 21px;
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 4px;
  }
  .main-section {
    min-height: 338px;
    background-position: right 6.5% bottom;
    background-size: 354px 289px;
    &_container {
      margin-left: 8.2%;
      padding-top: 39px;
    }
    &_description {
      width: 293px;
      font-size: 14px;
      line-height: 15px;
      margin-bottom: 20px;
    }
    &_btn_container {
      display: flex;
      flex-direction: column;
    }
    &_btn {
      width: 220px;
      height: 46px;
      font-size: 15px;
      &_left {
        margin: 0;
        margin-bottom: 18px;
      }
    }
  }
  .achievements {
    max-width: 641px;
    min-height: 98px;
    bottom: -130px;
    span {
      font-size: 25px;
    }
    p {
      font-size: 13px;
      line-height: 15px;
    }
  }
}