.master-class {
    position: relative;
    margin-bottom: 173px;
    h2 {
        font-size: 35px;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 30px;
        text-align: center;
    }
    > p {
        font-size: 25px;
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 75px;
        text-align: center;
    }
    &_cards-container {
        width: 83.33%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        gap: 10.62vw;
        margin-bottom: 75px;
        position: relative;
        &:before {
            content: url(../icons/left-arrow.png);
            position: absolute;
            left: -3%;
            top: 47%;
            width: 16px;
            height: 24px;
            cursor: pointer;
        }
        &:hover:before {
            transform: scale(1.3);
        }
        &:after {
            content: url(../icons/right-arrow.png);
            position: absolute;
            right: -3%;
            top: 47%;
            width: 16px;
            height: 24px;
            cursor: pointer;
        }
        &:hover:after {
            transform: scale(1.3);
        }
        > div {
            width: 43.33%;
            box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
        }
        img {
            width: 100%;
        }
    }
    &_cards-description {
        display: flex;
        div:first-child {
            width: 70.58%;
            padding-left: 5.48%;
            padding-top: 15px;
            position: relative;
        }
        div:nth-child(2) {
            width: 29.42%;
            display: flex;
            flex-direction: column;
        }
    }
    &_cards-price {
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 132px;
        background-color: #ecf9eb;
    }
    &_cards-btn {
        height: 98px;
        background-color: $green;
        color: #fff;
        border: none;
        cursor: pointer;
        z-index: 1;
        &:hover {
            background-color: #b7ecb1;
            }
        img {
            width: 25px;
            margin: auto;
        }
    }
    &_arrow-bold {
        position: absolute;
        bottom: 14px;
        right: -18.53%;
        width: 122px;
        height: 108px;
    }
    &_arrow-thin {
        position: absolute;
        right: 13.08%;
        bottom: 13px;
        width: 24px;
        height: 24px;
    }
    &_cards-date {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    &_cards-text {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 21px;
    }
    &_cards-couch {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
}

// Промежуточный адаптив (1440px - 1000px)

@media (max-width: 1400px) {
    .master-class_arrow-bold {
        bottom: -10px;
    }
}

@media (max-width: 1100px) {
    .master-class_arrow-bold {
        right: -25%;
    }
    .master-class_arrow-thin {
        right: 7%;
    }
    .master-class_cards-price {
        letter-spacing: -1px;
    }
}

// ---------------------------------------

@media (max-width: 1000px) {
    .master-class {
        width: 100vw;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 140px;
        h2 {
            font-size: 30px;
            margin-bottom: 40px;
        }
        > p {
            font-size: 20px;
        }
        &_arrow-bold, &_arrow-thin {
            display: none;
        }
        &_cards-container {
            width: auto;
            padding-left: 20px;
            padding-right: 20px;
            margin: 0;
            margin-bottom: 45px;
            gap: 30px;
            &:before, &:after {
                display: none;
            }
            > div {
                width: 46.5%;
            }
        }
        &_cards-date {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
        }
        &_cards-text {
            line-height: 21px;
            margin-bottom: 30px;
        }
        &_cards-couch {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 15px;
        }
        &_cards-price {
            letter-spacing: normal;
        }
    }
}

// Промежуточный адаптив (1000px - 768px)

@media (max-width: 930px) {
    .master-class {
        &_cards-couch {
            letter-spacing: -1px;
        }
        &_cards-text {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 870px) {
    .master-class_cards-couch {
        font-size: 17px;
        letter-spacing: -1px;
    }
}

@media (max-width: 850px) {
    .master-class_cards-price {
        letter-spacing: -1px;
    }
    .master-class_cards-text {
        font-size: 17px;
    }
}

// ---------------------------------------

@media (max-width: 768px) {
    .master-class {
        min-height: 280px;
        max-width: 642px;
        margin: 0 auto;
        margin-bottom: 100px;
        padding: 0;
        h2 {
            font-size: 25px;
            line-height: 28px;
            margin-bottom: 25px;
        }
        > p {
            font-size: 15px;
            line-height: 11px;
            margin-bottom: 50px;
        }
        &_cards-container {
            padding: 0;
            margin-bottom: 24px;
            gap: 20px;
            > img {
                height: 149px;
            }
            &:before, &:after {
                display: block;
            }
            &:before {
                left: -5.5%;
            }
        }
        &_cards-description {
            div:first-child {
                max-height: 154px;
                padding-top: 6px;
                padding-left: 2.21vw;
            }
            div:nth-child(2) {
                width: 11.72vw;
            }
        }
        &_cards-date {
            font-size: 12px;
            line-height: 24px;
            margin-bottom: 15px;
        }
        &_cards-text {
            font-size: 15px;
            line-height: 16px;
            margin-bottom: 12px;
        }
        &_cards-couch {
            letter-spacing: normal;
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 13px;
        }
        &_cards-price {
            letter-spacing: normal;
            font-size: 12px;
            line-height: 89px;
            max-height: 89px;
        }
        &_cards-btn {
            height: 66px;
        }
    }
}

// Промежуточный адаптив (768px - 480px)

@media (max-width: 715px) {
    .master-class {
        &_cards-container {
            &:before, &:after {
                display: none;
            }
        }
    }
}

@media (max-width: 660px) {
    .master-class {
        &_cards-container {
            flex-direction: column;
            align-items: center;
            gap: 31px;
        }
    }
    .display_none {
        display: none;
    }
}

// ---------------------------------------