.models-search {
    width: 83.33%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 177px;

    h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        color: $green;
        margin-bottom: 75px;
        text-transform: uppercase;
    }
    p {
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
        margin-bottom: 70px;
    }
    button {
        width: 385px;
        height: 75px;
        background-color: $green;
        color: #fff;
        font-weight: 600;
        font-size: 23px;
        line-height: 26px;
        border: none;
        cursor: pointer;
    }
    img {
        width: 34.58vw;
    }
    &_text-container {
        width: 43.68vw;
    }
}