.models-search {
    width: 83.33%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 177px;

    h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 46px;
        color: $green;
        margin-bottom: 75px;
        text-transform: uppercase;
    }
    p {
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
        margin-bottom: 70px;
    }
    button {
        width: 385px;
        height: 75px;
        background-color: $green;
        color: #fff;
        font-weight: 600;
        font-size: 23px;
        line-height: 26px;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #b7ecb1;
          }
          &:active {
            color:#55a630;
          }
    }
    &_text-container {
        width: 43.68vw;
        margin-right: 74px;
    }
    &_img-container {
        width: 34.58vw;
        img {
            width: 100%;
        }
    }
}

// Промежуточный адаптив (1440px - 1000px)

@media (max-width: 1380px) {
    .models-search_text-container {
        letter-spacing: -1px;
    }
}

@media (max-width: 1310px) {
    .models-search_text-container {
        h2, p {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 1240px) {
    .models-search_text-container {
        letter-spacing: -2px;
    }
}

@media (max-width: 1200px) {
    .models-search_text-container {
        h2 {
            letter-spacing: -3px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1140px) {
    .models-search_img-container {
        img {
            height: 85%;
        }
    }
}

// ---------------------------------------

@media (max-width: 1000px) {
    .models-search {
        width: 100vw;
        min-height: 372px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 140px;
        &_text-container {
            margin-right: 39px;
            width: 45.6%;
            h2 {
                letter-spacing: normal;
                font-size: 24px;
                line-height: 28px;
                padding-top: 28px;
                margin-bottom: 40px;
            }
            p {
                letter-spacing: normal;
                font-size: 20px;
                line-height: 25px;
                margin-bottom: 47px;
                max-width: 456px;
            }
            button {
                width: 298px;
                height: 55px;
                font-size: 20px;
            }
        }
        &_img-container {
            width: 46.4%;
            img {
                width: 100%;
                height: 372px;
            }
        }
    }
}

@media (max-width: 768px) {
    .models-search {
        min-height: 280px;
        max-width: 642px;
        margin: 0 auto;
        margin-bottom: 100px;
        padding: 0;
        &_text-container {
            width: 44.92vw;
            margin-right: auto;
            h2 {
                padding-top: 0;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: -0.4px;
                margin-bottom: 35px;
            }
            p {
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 35px;
            }
            button {
                width: 201px;
                height: 40px;
                font-size: 15px;
            }
        }
        &_img-container {
            width: 276px;
            height: 279px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// Промежуточный адаптив (768px - 480px)

@media (max-width: 660px) {
    .models-search {
        flex-direction: column;
        width: 75vw;
        margin: 0 auto;
        margin-bottom: 80px;
        &_text-container {
            width: 100%;
            margin: 0;
        }
        h2 {
            text-align: center;
        }
        p {
            margin: 0;
            margin-bottom: 40px;
        }
        button {
            width: 210px;
            margin-left: 20vw;
            margin-right: 20vw;
            margin-bottom: 24px;
        }
        &_img-container {
            width: 75vw;
            height: auto;
        }
    }
}

// ---------------------------------------

@media (max-width: 480px) {
    .models-search {
        &_text-container {
            h2 {
                font-size: 20px;
                line-height: 23px;
                letter-spacing: -0.4px;
                margin-bottom: 40px;
            }
            button {
                margin-left: 16vw;
            }
        }
    }
}

// Промежуточный адаптив (480px - 320px)

@media (max-width: 380px) {
    .models-search {
        width: 95vw;
        &_img-container {
            width: 95vw;
        }
    }
}

// ---------------------------------------