.nav {
    background-color: #fff;
    font-weight: 500;

    &-icons {
        width: 29px;
        height: 29px;
    }
    a {
        text-decoration: none;
        color: #424242;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        &:hover {
            color: #b7ecb1;
        }
        &:active {
            color: #55a630;
        }
    }
}

.nav-up {
    width: 83.33%;
    max-width: 1200px;
    min-height: 84px;
    margin: 0 auto;
    display: flex;
    justify-content: start;

    &_contacts {
        width: 540px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_phone {
        &:hover {
            transform: scale(1.05);
        }
        img {
            width: 28px;
            height: 28px;
        }
        span {
            margin-left: 22px;
            font-size: 25px;
            min-width: 218px;
        }
    }
    &_socials {
        min-width: 83px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 26px;

        img {
            width: 28px;
            height: 28px;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &_flag {
        position: relative;
        margin-right: 25px;
    }
    &_flag::after {
        content: url(../icons/nav-flag-arrow.png);
        padding-left: 14px;
        position: absolute;
        top: 10px;
    }
}

.link-logo {
    img:hover {
        transform: scale(1.05);
    }
    &_container {
        margin-top: 12px;
    width: 55%;
    }
}

.nav-spacer {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(85, 166, 48, 0.5);
}

.nav-down {
    width: 83.33%;
    max-width: 1200px;
    min-height: 68px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-tablet {
    display: none;
}


@media (max-width: 1000px) {
    .nav {
        display: none;
    }
    .nav-tablet {
        height: 94px;
        display: flex;
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100vw;
        background-color: #fff;
        &_menu {
            margin: auto 39% auto 23px;
        }
        button {
            border: none;
            background: none;
        }
        a {
            text-decoration: none;
            color: #303236;
        }
        &_logo {
            margin-top: 9px;
            margin-bottom: 9px;
            margin-right: auto;
        }
        &_phone {
            margin: 33px 21px 33px 0;
            img {
                width: 28px;
                height: 28px;
            }
            span {
                margin-left: 19px;
                font-weight: 500;
                font-size: 20px;
                min-width: 26px;
            }
        }
    }
}

@media (max-width: 768px) {
    .nav-tablet {
        &_menu {
            margin: 35px 25% 35px 27px;
        }
        &_logo {
            margin-left: auto;
            margin-right: auto;
        }
        &_phone {
            width: 196px;
            margin: 35px 23px 35px auto;
            img {
                width: 23px;
                height: 23px;
            }
            span {
                margin-left: 18px;
                font-size: 19px;
            }
        }
    }
}

// Промежуточный адаптив (768px - 480px)

@media (max-width: 650px) {
 .nav-tablet {
    &_logo {
        img {
            width: 60px;
            height: 60px;
            padding-top: 10px;
        }
    }
    &_phone {
        margin-right: -15px;
        img {
            width: 19px;
            height: 19px;
        }
        span {
            margin-left: 13px;
            font-size: 17px;
        }
    }
 }
}

@media (max-width: 540px) {
    .nav-tablet {
       height: 59px;
       &_menu {
        margin: auto 25% auto 27px;
       }
       &_logo {
        margin-top: -9px;
        margin-bottom: 0;
           img {
               width: 53px;
               height: 53px;
               padding-top: 13px;
           }
       }
       &_phone {
           margin-right: -50px;
           margin-top: 20px;
           img {
               width: 14px;
               height: 14px;
           }
           span {
               margin-left: 9px;
               font-size: 14px;
           }
       }
    }
   }

// ---------------------------------------

@media (max-width: 480px) {
    .nav-tablet {
        height: 59px;
        &_menu {
            width: 50px;
            img {
                width: 100%;
            }
        }
        &_phone {
            margin-right: -50px;
            span {
                font-size: 12px;
            }
        }
    }
}

// Промежуточный адаптив (480px - 320px)

@media (max-width: 430px) {
    .nav-tablet_phone {
        display: none;
    }
    .nav-tablet_logo {
        margin-right: 25px;
        width: 40px;
        height: 41px;
    }
    .nav-tablet_menu {
        margin-left: 11px;
    }
}

// ---------------------------------------