.nav {
    background-color: #fff;
    font-weight: 500;

    &-icons {
        width: 29px;
        height: 29px;
    }
    a {
        text-decoration: none;
        color: #424242;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        &:hover {
            color: #b7ecb1;
        }
        &:active {
            color: #55a630;
        }
    }
}

.nav-up {
    width: 83.33%;
    max-width: 1200px;
    min-height: 84px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    border-bottom: 1px solid rgba(85, 166, 48, 0.5);

    &_contacts {
        width: 540px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_phone {
        &:hover {
            transform: scale(1.05);
        }
        img {
            width: 28px;
            height: 28px;
        }
        span {
            margin-left: 22px;
            font-size: 25px;
            min-width: 218px;
        }
    }
    &_socials {
        min-width: 83px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 26px;

        img {
            width: 28px;
            height: 28px;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.link-logo {
    img:hover {
        transform: scale(1.05);
    }
    &_container {
        margin-top: 12px;
    width: 55%;
    }
}

.nav-down {
    width: 83.33%;
    max-width: 1200px;
    min-height: 68px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}