.special {
    margin-bottom: 175px;
    position: relative;
    h2 {
        font-size: 35px;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 75px;
        text-align: center;
    }
    &_card-container {
        width: 83.33%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        margin-bottom: 75px;
        gap: 2.5%;
        &:before {
            content: url(../icons/left-arrow.png);
            position: absolute;
            left: 6%;
            top: 49%;
            width: 16px;
            height: 24px;
            cursor: pointer;
        }
        &:hover:before {
            transform: scale(1.3);
        }
        &:after {
            content: url(../icons/right-arrow.png);
            position: absolute;
            right: 6%;
            top: 49%;
            width: 16px;
            height: 24px;
            cursor: pointer;
        }
        &:hover:after {
            transform: scale(1.3);
        }
        div {
            width: 31.67%;
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1000px) {
    .special {
        margin-bottom: 140px;
        &_left-arrow, &_right-arrow {
            display: none;
        }
        h2 {
            font-size: 30px;
            margin-bottom: 50px;
        }
        &_card-container {
            width: 100vw;
            max-width: 960px;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 50px;
            &:before, &:after {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .special {
        max-width: 642px;
        margin: 0 auto;
        height: 322px;
        margin-bottom: 101px;
        h2 {
            font-size: 25px;
        }
        &_card-container {
            padding: 0;
            width: 100%;
            gap: 20px;
            div {
                width: 26.04vw;
                img {
                    width: 100%;
                }
            }
            &:before, &:after {
                display: block;
            }
            &:before {
                left: -4%;
                top: 51%;
            }
            &:after {
                right: -4%;
                top: 51%;
            }
        }
    }
}

// Промежуточный адаптив (768px - 480px)

@media (max-width: 760px) {
    .special {
        width: 100vw;
        overflow: hidden;
        &_card-container {
            display: grid;
            grid-template-columns: repeat(3, 196px);
            gap: 25px;
            width: fit-content;
            margin-left: 50%;
            transform: translateX(-50%);
            div {
                width: 196px;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 645px) {
    .special_card-container > div:nth-child(odd) img {
        filter: brightness(65%);
    }
}

// ---------------------------------------

@media (max-width: 480px) {
    .special {
        margin-bottom: 80px;
        h2 {
            font-size: 20px;
            line-height: 13px;
            margin-bottom: 41px;
        }
        &_card-container {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 320px) {
    .special {
        h2 {
            line-height: 25px;
            width: 151px;
            margin: 0 auto;
            margin-bottom: 40px;
        }
        &_card-container {
            margin-bottom: 25px;
        }
    }
}