.why-us {
    margin-bottom: 166px;
    h2 {
        font-size: 35px;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 75px;
        text-align: center;
    }
    h3 {
        font-weight: 600;
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 32px;
    }
    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
    }
    &_card-container {
        width: 83.33%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        gap: 2.42%;
        > div {
            position: relative;
            width: 30%;
            box-shadow: -2px 2px 20px rgba(66, 66, 66, 0.15);
            span {
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
                font-size: 180px;
                line-height: 36px;
                position: absolute;
            }
        }
        > div:nth-child(1) {
            padding: 40px 15px 12px 31px;
            span {
                color: rgba(85, 166, 48, 0.25);
                bottom: 68px;
                right: 26px;
            }
        }
        > div:nth-child(2) {
            padding: 40px 21px 70px 31px;
            background-color: #b7ecb1;
            span {
                color: rgba(255, 255, 255, 0.3);
                top: 50px;
                right: 25px;
            }
        }
        > div:nth-child(3) {
            padding: 28px 18px 28px 32px;
            h4 {
                margin-bottom: 14px;
            }
            span {
                color: rgba(85, 166, 48, 0.25);
                bottom: 95px;
                right: 18px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .why-us {
        margin-bottom: 140px;
        h2 {
            font-size: 30px;
            margin-bottom: 50px;
        }
        h3 {
            font-size: 20px;
            margin-bottom: 13px;
        }
        p {
            font-size: 15px;
            line-height: 17px;
        }
        span {
            display: none;
        }
        &_card-container {
            width: 100vw;
            max-width: 960px;
            padding-left: 20px;
            padding-right: 20px;
            gap: 28px;
            > div:nth-child(1) {
                padding: 45px 6px 11px 24px;
                background-image: url(../img/why-us/card-bgr-01.png);
                background-repeat: no-repeat;
                background-position: bottom 11px right 30px;
            }
            > div:nth-child(2) {
                padding: 45px 16px 64px 25px;
                background-image: url(../img/why-us/card-bgr-02.png);
                background-repeat: no-repeat;
                background-position: bottom 95px right 30px;
            }
            > div:nth-child(3) {
                padding: 25px 7px 2px 25px;
                background-image: url(../img/why-us/card-bgr-03.png);
                background-repeat: no-repeat;
                background-position: bottom 0px right 40px;
            }
        }
    }
}

@media (max-width: 768px) {
    .why-us {
        min-height: 571px;
        margin-bottom: 100px;
        h2 {
            font-size: 25px;
        }
        h3 {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 13px;
        }
        &_card-container {
            max-width: 642px;
            margin: 0 auto;
            padding: 0;
            flex-direction: column;
            gap: 30px;
            > div {
                width: 100%;
                height: 142px;
                > div {
                    padding-top: 15px;
                    padding-left: 221px;
                }
            }
            > div:nth-child(1) {
                padding: 0;
                background-image: url(../img/why-us/card-bgr-01.png);
                background-repeat: no-repeat;
                background-size: 160px 130px;
                background-position: bottom 5px left 10px;
            }
            > div:nth-child(2) {
                padding: 0;
                background-image: url(../img/why-us/card-bgr-02.png);
                background-repeat: no-repeat;
                background-size: 190px 130px;
                background-position: bottom 7px left 5px;
            }
            > div:nth-child(3) {
                padding: 0;
                background-image: none;
                background-image: url(../img/why-us/card-bgr-03.png);
                background-repeat: no-repeat;
                background-size: 190px 130px;
                background-position: bottom 7px left 5px;
            }
        }
    }
}

// Промежуточный адаптив (768px - 480px)

@media (max-width: 700px) {
    .why-us {
        &_card-container {
            width: 76.67vw;
            > div {
                min-height: 220px;
            }
        }
    }
}

@media (max-width: 565px) {
    .why-us_card-container > div > div {
        padding-left: 160px;
    }
}

// ---------------------------------------

@media (max-width: 480px) {
    .why-us {
        margin-bottom: 80px;
        h2 {
            margin-bottom: 40px;
            font-size: 20px;
        }
        h3 {
            font-size: 15px;
            line-height: 26px;
        }
    }
    .why-us_card-container > div > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 94px;
        padding-top: 35px;
        p {
            line-height: 19px;
        }
    }
    .why-us_card-container {
        gap: 40px;
        > div {
            height: 220px;
        }
        > div:nth-child(1) {
            background-position: bottom 40px left 10px;
        }
        > div:nth-child(2) {
            background-position: bottom 40px left 5px;
        }
        > div:nth-child(3) {
            background-position: bottom 45px left 5px;
        }
    }
}

// Промежуточный адаптив (480px - 320px)

@media (max-width: 475px) {
    .why-us_card-container > div > div {
        padding-left: 20px;
        padding-right: 15px;
    }
}

@media (max-width: 400px) {
    .why-us_card-container {
        width: 95vw;
    }
}

// ---------------------------------------

@media (max-width: 320px) {
    .why-us h3 {
        text-align: center;
    }
    .why-us_card-container {
        > div:nth-child(1) {
            background-size: 49px 36px;
            background-position: top 15px left 50%;
        }
        > div:nth-child(2) {
            background-size: 49px 36px;
            background-position: top 15px left 50%;
        }
        > div:nth-child(3) {
            background-size: 49px 36px;
            background-position: top 15px left 50%;
        }
    }
}